<html>
    <head>
        <style>
        body {
            text-align:center;
            font-family: sans-serif;
        }
        label, input {
            display: block;
            margin: 0 auto;
        }
        label{
            margin-bottom: 10px;
        }
        input {
            margin-bottom: 20px;
        }
        
        </style>
    </head>
    <body>
        <form method="POST" action="/activateAccount">
        <h1>What do you want to name your Party</h1>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" required>
            <label for="password">Password</label>
            <input type="text" name="password" placeholder="Password" required>
            <input type="submit" value="Start Party">
        </form>




<% include partials/footer %>