<% include partials/header %>
	<div id="bonk">
        <div id="links"><a href="/"><img id="link-back" src="/imgs/logo.png"></a>
        <% for(var i = 0; i < info.applications.length; i++){ %>
            <% if(info.applications[i] === "spotify") { %>
            <a href="/spotify"><img src="/imgs/spotify.jpg" id="spotify"></a>
            <% }%>
            <% } %>
        
        </div>
           <div class="flashbox">
            <!--Plan A
            <iframe id="flashbox" src="https://www.silvergames.com/en/bonkio/iframe" align="center"></iframe>
            <!--Plan B
            <!--<iframe id="flashbox" src="http://bonk.io/BonkLiveVersion2.swf" width="730" height="500" style="margin:0;padding:0;border:0"></iframe>                                                  -->
            <!-- Plan C
            <!--<iframe width="730" height="500"  src="http://bonk.io#flashbox" scrolling="no" ></iframe>-->
            <!-- Plan D  
			<object type="application/x-shockwave-flash" data="BonkLiveVersion2.swf" width="730" height="500" param name="movie" value="http://bonk.io/BonkLiveVersion2.swf"><param name="FlashVars" value="autoconnectroomid=&amp;autoconnectroompassword="><param name="wmode" value="direct"><param name="allowscriptaccess" value="always"></object>
            <!-- Plan E -->
            <% for(var i = 0; i < info.applications.length; i++){ %>
            <% if(info.applications[i] === "bonk") { %>
            <embed src="https://bonk.io/BonkLiveVersion2.swf" data="BonkLiveVersion2.swf" wmode="direct" menu="false" quality="high" allowscriptaccess="samedomain" allownetworking="internal" type="application/x-shockwave-flash" width="730px" height="500px" id="bonkframe"> 
            <% } %>
            <% } %>
            
          </div>
        </div>
         <% for(var i = 0; i < info.applications.length; i++){ %>
            <% if(info.applications[i] === "unlock") { %>
            <form action="/activate" method="POST">
                <input type="submit" style="position: fixed;" value="Start All Account">
            </form>
            <% } %>
        <% } %>

        
       
        

<% include partials/footer %>






