<html>
    <head>
        <title>Home | Schoology</title>
        <style type="text/css">
            textarea {
                resize: none;
                width: 250px;
                height: 50px;
            }
            label, input {
                display: block;
                margin: 0 auto;
            }
            body {
                font-family: sans-serif;
                text-align: center;
            }
            input{
                margin-bottom: 20px;
            }
            label {
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <form method="POST" action="/adduser">
        <h1>Add User</h1>
            <label for="username">New Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <label for="password">New Password</label>
            <input type="text" id="password" name="password" placeholder="Password" required>
            <input type="submit" id="submitButton">
        </form>
        <hr>
        <form method="POST" action="/deleteuser">
        <h1>Delete User</h1>
            <label for="username">Username</label>
            <input type="text" id="usernamedel" name="usernamedel" placeholder="Username" required>
            <label for="reason">Why are you deleting this User?</label>
            <textarea name="reason" placeholder="Bad Smelling..."></textarea>
            <input type="submit" id="submitButton">
        </form>
        <hr>
        <form method="POST" action="/changeuser">
        <h1>Edit User</h1>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <label for="bonk">Bonk</label>
            <input type="checkbox" name="bonk">
            <label for="spotify">Spotify</label>
            <input type="checkbox" name="spotify">
            <label for="unlock">UnLock</label>
            <input type="checkbox" name="unlock">
            <input type="submit" id="submitButton">
        </form>









<% include partials/footer %>