<html>
	<head>
		<title>Home | Schoology</title>
		<link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" type="text/css" href="/schoology1.css">
      <link rel="stylesheet" type="text/css" href="/schoology2.css">
      <link rel="stylesheet" type="text/css" href="/schoology3.css">
     	<!--[if lte IE 7]><link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/schoology_theme/fix-ie.css" /><![endif]-->
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</head>
	<body>
<div id="body">
        <a href="#main" class="skip visually-hidden">Skip to Content</a>
        <div id="header" role="banner">
            <div id="header-inner">
                <div id="nav" role="navigation"><ul id="nav_left" role="menubar"><li id="home"><a role="menuitem" id="top-picture" href="/home" style="background: url(/imgs/logo.png)"></a></li><li id="search" class="search-break"><div class="search-toggle" tabindex="0" role="button" aria-haspopup="true" aria-controls="navigation_search"><span class="visually-hidden">Search</span></div><form id="navigation_search" name="navigation_search" method="get" role="search"><input name="search_query" type="hidden" class="search-query" />
                    <label class="visually-hidden" for="search_box">Search Query</label><input name="search_box" id="search_box" type="text" class="searcher form-text" autocomplete="off" placeholder="Search people, courses and groups"/><div id="nav-search"><a role="button" href="#"><span class="visually-hidden">Submit your search</span></a></div></form></li><li id="primary-home"><a href="/home" role="menuitem"><span>Home</span></a></li><li id="primary-courses" class="primary-activities"><a class="clickable" role="menuitem" aria-haspopup="true" aria-controls="course-menu-dropdown" href="#">Courses<span class="dropdown"></span></a><div tpl-id="s_course_course_dropdown_0"  class="activities-dropdown-wrapper tpl-placeholder s-course-course-dropdown" id="course-menu-dropdown"></div></li><li id="primary-groups" class="primary-activities"><a class="clickable" role="menuitem" aria-haspopup="true" aria-controls="groups-menu-dropdown" href="#">Groups<span class="dropdown"></span></a><div tpl-id="s_group_group_dropdown_1"  class="activities-dropdown-wrapper tpl-placeholder s-group-group-dropdown" id="groups-menu-dropdown"></div></li><li id="primary-library" class="primary-activities"><a class="clickable" role="menuitem" aria-haspopup="true" aria-controls="resources-menu-dropdown" href="#">Resources<span class="dropdown"></span></a><div class="activities-dropdown-wrapper no-ajax item-list" id="resources-menu-dropdown"><ul id="primary-library-sub" role="menu"><li id="my-resources" class="list-item"><a href="/resources" role="menuitem"><span></span>Personal</a></li><li id="group-resources" class="list-item"><a href="/resources/group" role="menuitem"><span></span>Group</a></li><li id="my-apps" class="list-item"><a href="/resources/apps" role="menuitem"><span></span>Apps</a></li></ul></div></li></ul><ul class="user-menu" role="menubar" tabindex="0"><li id="private-messages">
                    <a class='unread-messages nav-icon-button' href='#' role='button' aria-haspopup='true'><img src='https://cdn3-5.cdn.schoology.com/sites/all/themes/schoology_theme/images/notification-icon-sprite.png' alt='Messages' class='icon-unread-messages '></a>                
                    <div id="messages-menu-dropdown" class="message-wrapper hide"></div></li><script src="script.js"></script><li id="primary-requests">
                        <a class='unread-reqs nav-icon-button' href='#' role='button' aria-haspopup='true'><img src='https://cdn3-5.cdn.schoology.com/sites/all/themes/schoology_theme/images/notification-icon-sprite.png' alt='Requests' class='icon-unread-requests '></a>
                        <div id='requests-menu-dropdown' class='request-wrapper hide'></div></li><li id="primary-notifications">
                        <a class='unread-notifications unread nav-icon-button' href='#' role='button' aria-haspopup='true'><img src='https://cdn3-5.cdn.schoology.com/sites/all/themes/schoology_theme/images/notification-icon-sprite.png' alt='Notifications' class='icon-unread-notifications '><span class='notifier'>1</span></a>
                            <div id='notifications-menu-dropdown' class='notification-wrapper hide'></div></li><li id="profile"><a href="/user/42244617" title="View user profile.">School Student</a></li><li id="primary-settings" class="menu-3"><a href="/settings" role="link" aria-haspopup="true" aria-controls="settings-menu-dropdown" class="unfold" title="Settings dropdown"><span class="visually-hidden">Settings</span><span class="dropdown"></span></a><ul id="settings-menu-dropdown" class="subnav" role="list"><li class="school" role="listitem"><div class="school-building-list "><div class="school-building"><a href="/school/21219837"><div class="profile-picture"><img src="https://cdn3-6.cdn.schoology.com/system/files/imagecache/profile_tiny/sites/all/themes/schoology_theme/images/school-default.gif?0" alt="Profile picture for Dover City Schools" title=""  class="imagecache imagecache-profile_tiny" /></div>Dover City Schools</a></div></div></li><li role="listitem"><a href="/settings" title="Notifications Settings">Notifications</a></li><li class="account-settings-link"><a href="/settings/account">Account Settings</a></li><li role="listitem"><a href="/settings/privacy">Privacy</a></li><li role="listitem"><a href="/settings/recycle_bin"><span>Recycle Bin<span class="visually-hidden">Account</span></span></a></li><li class="logout" role="listitem"><a class="logout" href="/logout?ltoken=a0ea602b9d9ae43d09938472a1f6fece">Logout</a></li></ul></li><li id="help-center-wrapper"><span class="infotip hide-qmark" tipsygravity="ne"aria-label='Support'><a class="help-center nav-icon-button" href="https://support.schoology.com/hc/en-us" role="button" target="_blank">
                            <img src="https://cdn3-5.cdn.schoology.com/sites/all/themes/schoology_theme/images/notification-icon-sprite.png" alt="Support" class="icon-help ">
                            </a><span class="infotip-content visually-hidden">Support</span></span></li></ul></div> <!-- /#nav -->    </div>
</div> <!-- /#header -->
      <div id="wrapper">
            <div id="container" class=" clearfix">

                  <div id="sidebar-left" class="sidebar">
                        <div id="left-nav" role="navigation">
              <div id="menu-s-home" role="navigation"><ul class="menu" role="menu"><li role="menuitem" class="leaf first active-trail even" ><div class="link-wrapper menu-105 home-left-menu active-trail-dist-1"><a href="/home" class="menu-105 home-left-menu active" role="menuitem"><span><span class="visually-hidden">Current Menu Item</span></span>Recent Activity</a></div></li>
<li role="menuitem" class="leaf odd" ><div class="link-wrapper menu-49 grades-left-menu"><a href="/grades" class="menu-49 grades-left-menu" role="menuitem"><span></span>Grades/Attendance</a></div></li>
<li role="menuitem" class="leaf even" ><div class="link-wrapper menu-2513 calendar-left-menu"><a href="/calendar" class="menu-2513 calendar-left-menu" role="menuitem"><span></span>Calendar</a></div></li>
<li role="menuitem" class="collapsed odd" ><div class="link-wrapper menu-5 messages-left-menu"><a href="/messages" class="menu-5 messages-left-menu" role="menuitem"><span></span>Messages</a></div></li>
<li role="menuitem" class="leaf last even" ><div class="link-wrapper menu-99 network-left-menu"><a href="/network" class="menu-99 network-left-menu" role="menuitem"><span></span>People</a></div></li>
</ul><div id="menu-s-apps"><div id="menu-s-apps-list"></div></div></div>
                          </div>
                   <% %>                </div> <!-- /#sidebar-left -->
        <div id="main-content-wrapper" class="clearfix">
                            <div id="center-wrapper" class="">
                    <div id="center-inner" class="clearfix">
            <div id="center-top">
                                                      	<h2 class="page-title ">Home</h2>                                              	      </div>
  					                                                                                    <div id="content-wrapper">
              <div id="center"><div id="main"><div id="main-inner"><div id="home-feed-container" class="edge-wrapper ">
    <div id='edge-filters'>
      <span id='edge-filters-btn' class='clickable'></span>
      <div id='edge-filters-menu'>
        <span class='edge-filter-option edge-filter-type-all active' id='filter-option-0'><span></span></span>
<span class='edge-filter-option edge-filter-type-updates' id='filter-option-1'><span></span></span>
<span class='edge-filter-option edge-filter-type-polls' id='filter-option-5'><span></span></span>
<span class='edge-filter-option edge-filter-type-blogs' id='filter-option-4'><span></span></span>

      </div>
    </div>
    <h2></h2><div id="smart-box"><div class="smart-box"><div class="smart-box-mid"><div class="create-type"></div><div class="item-list">
</ul></div>
    <div id='smart-box-messages'></div>
    <div id='smart-box-content'>
      <div id='smart-box-tab-content-0' class='smart-box-tab-content'></div>
    </div></div></div></div><div class='feed'><div class="item-list"><ul class="s-edge-feed"><li class="s-edge-feed-more-link first last"><a href="/home/feed?page=0"></a></li>
</ul></div></div></div></div>


<img src="/imgs/pic.JPG" id="fake-log">
<h1 id="title">Login</h1>
<form method="POST" action="/login">
	<label for="username">Username</label>
	<input name="username" type="text" placeholder="Username" id="username" required>
	<label for="password">Password</label>
	<input type="password" name="password" placeholder="Password" id="password" required>
	<input type="submit" id="button" value="Login">
</form>

</div><div id="right-column" role="complementary"><div id="right-column-inner"><div class="overdue-submissions overdue-submissions-wrapper"><div class="overdue-submissions-list"></div></div><div class="upcoming-events upcoming-events-wrapper"><div class="upcoming-list"></div></div></div></div></div>                                        </div>
 
          </div>
        </div> <!-- /#center-wrapper -->
       </div><!-- /#main-content-wrapper -->
             </div> <!-- /#container -->
     	 <div id="footer" class="clearfix" role="contentinfo">
     	    <div id="footer-inner">
                            <div id="copyright">&nbsp;路&nbsp;Schoology &copy; 2018</div>
              <div id="footer-links">
                <a href="http://help.schoology.com" target="_blank">Support</a> 路
                <a href="https://www.schoology.com/blog" target="_blank">Schoology Blog</a> 路
                  <a href="https://www.schoology.com/privacy" target="_blank">Privacy Policy</a> 路
                  <a href="https://www.schoology.com/terms-of-use" target="_blank">Terms of Use</a>
              </div>
              <div id="user-language-selector"><div class="current-language clickable" aria-haspopup="true" role="menu" tabindex="0" aria-label="Language dropdown" aria-controls="s-common-language-selector-form">English<span class="visually-hidden">Language dropdown</span></div><form role="form" action="/home"  accept-charset="UTF-8" method="post" id="s-common-language-selector-form">
<div><div class="s-link-wrapper"><span class="submit-span-wrapper"><input type="submit" name="op" id="edit-en-GB" value="English (UK)"  role="menuitem" class="form-submit" />
</span></div><div class="s-link-wrapper"><span class="submit-span-wrapper"><input type="submit" name="op" id="edit-fr-corp" value="French - Corporate"  role="menuitem" class="form-submit" />
</span></div><div class="s-link-wrapper"><span class="submit-span-wrapper"><input type="submit" name="op" id="edit-ja" value="Japanese"  role="menuitem" class="form-submit" />
</span></div><div class="s-link-wrapper"><span class="submit-span-wrapper"><input type="submit" name="op" id="edit-ms" value="Malay"  role="menuitem" class="form-submit" />
</span></div><div class="s-link-wrapper"><span class="submit-span-wrapper"><input type="submit" name="op" id="edit-pt" value="Portuguese"  role="menuitem" class="form-submit" />
</span></div><div class="s-link-wrapper"><span class="submit-span-wrapper"><input type="submit" name="op" id="edit-es" value="Spanish"  role="menuitem" class="form-submit" />
</span></div><input type="hidden" name="form_build_id" id="form-1idwQr8BD783ezZzbNriXNxT6wfgZyNKyV6e7Sytx8w" value="form-1idwQr8BD783ezZzbNriXNxT6wfgZyNKyV6e7Sytx8w"  />
<input type="hidden" name="form_token" id="edit-s-common-language-selector-form-form-token" value="67d3045616daf381503916d76a43eacc"  />
<input type="hidden" name="form_id" id="edit-s-common-language-selector-form" value="s_common_language_selector_form"  />

</div></form>
</div>            <% %>                        </div>
        </div> <!-- /#footer -->
      <span class="clear clearfix bottom-span"></span>
    </div> <!-- /#wrapper -->

<!-- /layout -->
  <div id="bottom-bar">
    <div id="bottom-bar-inner">
          </div>
  </div>
  <script type="text/javascript" src="https://cdn3-3.cdn.schoology.com/assets/bundles/js/common/common-8be28637e98036936a35.js"></script>
<script type="text/javascript" src="https://cdn3-7.cdn.schoology.com/assets/js/module_bundle_a83f1922051bc18bb24d94c84f1c3cd5.js"></script>
<script type="text/javascript" src="https://cdn3-4.cdn.schoology.com/assets/js/theme_bundle_187957bef4ffc1d7ad5d366d678294b2.min.js"></script>
<script type="text/javascript" src="https://cdn3-5.cdn.schoology.com/assets/js/_bundle_5674e38780b05b5086113738fdf75bae.min.js"></script>
<script type="text/javascript" src="https://cdn3-3.cdn.schoology.com/assets/js/tiny_mce_bundle_8154c40974bf5a8a73a8cf5eb41b30ae.min.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","s_common":{"csrf_key":"sl2zWBmG_RoN-S_MmqgPH-gGpR5Hp_oF63CbmOIWAXA","csrf_token":"3edef821d28847c27ac631ad91dae6b0","logout_token":"a0ea602b9d9ae43d09938472a1f6fece","default_realm_profiles":{"group":"https:\/\/cdn3-6.cdn.schoology.com\/system\/files\/imagecache\/profile_tiny\/sites\/all\/themes\/schoology_theme\/images\/group-default.gif","course":"https:\/\/cdn3-2.cdn.schoology.com\/system\/files\/imagecache\/profile_tiny\/sites\/all\/themes\/schoology_theme\/images\/course-default.gif","school":"https:\/\/cdn3-6.cdn.schoology.com\/system\/files\/imagecache\/profile_tiny\/sites\/all\/themes\/schoology_theme\/images\/school-default.gif"},"date_format_language":"","language":"","timezone":"-18000","default_domain":"app.schoology.com","user":{"uid":"42244617","school_nid":"21219837"}},"s_course_topic":{"placeholder_template":"\u003Clabel class=\u0022mceDraggableWrapper\u0022 id=\u0022!wrapperId\u0022\u003E\u003Cspan class=\u0022mceNonEditable mce-topic-item #!id\u0022\u003E!title\u003Cspan class=\u0022item-delete\u0022 id=\u0022!wrapperId-deletebtn\u0022\u003Ex\u003C\/span\u003E\u003C\/span\u003E\u003C\/label\u003E"},"extlink":{"extTarget":"_blank","extClass":"ext","extSubdomains":1,"extExclude":"^https?:\/\/[^\/]+\\.schoology\\.com\/i","extInclude":"","extAlert":"_blank","extAlertText":"This link will take you to an external web site. We are not responsible for their content.","mailtoClass":"mailto"},"popups":{"links":{".s-js-locked-resource-link-diff":{"extraClass":"popups-extra-large linked-content-diff-view"},"div.user-invite-colleagues a.user-invite-colleagues":{"extraClass":"popup-invite popups-large"},"#attachment-resources-browse":{"extraClass":"popups-large s-resource-import-attachment popups-library"},".post-more-course-chooser a":{"extraClass":"popups-small","hijackDestination":false},".app-uninstall":{"extraClass":"popups-small","targetSelectors":["#menu-s-apps-list"]}},"originalPath":"home","defaultTargetSelector":"div#content-wrapper","modulePath":"sites\/all\/modules\/popups","autoCloseFinalMessage":1},"s_user_ui_settings":[],"s_tinymce":{"language":"en","cache":"5a57b02c4b0f4b9a","s_content_menu_items":[{"id":"s_content_resources_app_67933789","title":"Khan Academy","cmd":"sContentResourcesInsertPopup","icon_src":"https:\/\/cdn3-8.cdn.schoology.com\/system\/files\/imagecache\/profile_tiny\/applogos\/logo-67933789.png?1381417262","value":{"nid":"67933789","type":"app"},"class":"s-js-resources-insert-item s-js-resources-insert-apps"},{"id":"s_content_resources_app_67923511","title":"Google Drive Resource App","cmd":"sContentResourcesInsertPopup","icon_src":"https:\/\/cdn3-5.cdn.schoology.com\/system\/files\/imagecache\/profile_tiny\/applogos\/logo-67923511.png?1381416833","value":{"nid":"67923511","type":"app"},"class":"s-js-resources-insert-item s-js-resources-insert-apps"}],"editors":[]},"s_app":{"cookie_preload_urls":[]},"s_attachment":{"max_filesize":512,"max_num_uploads":100,"file_types":"","max_links":10,"upload_url":"\/s_attachment_upload_chunked\/2","file_service_upload":{"enabled":false},"file_only_form":false,"target_DOM_id":"upload-btn","drop_element":"","enable_chunking":true,"custom_error_messages":{},"additional_behaviors":[],"chunk_size":70000},"s_edge":{"feed_url":"home","update_max_comments_show":3,"update_max_comments_ajax":10},"s_edge_filter":{"realm":"user","url":"home\/feed?page=0"},"s_smart_box":{"start_index":0,"exclude":""},"theme_js":{"s_course_course_dropdown_0":{"template":"s_course_course_dropdown","module":[],"args":[]},"s_group_group_dropdown_1":{"template":"s_group_group_dropdown","module":[],"args":[]}},"s_accessibility":{"role_main":"main"},"aggregated_css":["\/sites\/all\/modules\/schoology_core\/s_extlink\/s_extlink.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_home\/s_home.css?5a57b02c4b0f4b9a","\/sites\/all\/themes\/schoology_theme\/s_calendar.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_blog\/s_blog_edge.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_grades\/s_grade_item\/s_grade_item_add_form.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_taxonomy\/s_alignment\/s_alignment.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_external_tool\/s_external_tool.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_media\/s_tinymce\/mathquill.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_media\/s_tinymce\/s_tinymce_resources_insert.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_edge\/s_edge.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_attachment\/s_attachment_form.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_attachment\/s_attachments.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_course\/s_course_reminders.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_app\/s_app.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_common\/s_common_rating.css?5a57b02c4b0f4b9a","\/sites\/all\/themes\/schoology_theme\/user_profile.css?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_home\/s_home_smart_box_realm_selection_form.css?5a57b02c4b0f4b9a","\/sites\/all\/themes\/schoology_theme\/style.css?5a57b02c4b0f4b9a"]});
//--><!]]>
</script>
<% %>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
window._initPendo({"id":"31c6a0489cf4798c362fc9e11793199e","gender":"male","accountCreationDate":"2016-08-25 08:59:35","isFaculty":false,"isParent":false,"isSchoolAdmin":false,"isTeacher":false,"isAdvisor":false,"isStudent":true,"customRole":"student","numCoursesEnrolled":6,"numCoursesTaught":0,"numSchoolGroupsAsMember":0,"numSchoolGroupsAsOwner":0,"numPublicGroupsAsMember":0}, {"country":"US","state":"OH","zip":"44622","schoolType":"k-12","customizedUI":false,"featurePackage":"free","sgyId":null,"organizationNid":"21219837","buildingNid":"21219837","id":"21219837"}, "9d267eb0-c5a6-41fb-786d-8ec2c4e691cc")
//--><!]]>
</script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"aggregated_js":["\/assets\/bundles\/js\/common\/common-8be28637e98036936a35.js?5a57b02c4b0f4b9a","\/sites\/all\/misc\/pendo\/pendo.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_extlink\/s_extlink.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/popups\/popups.js?5a57b02c4b0f4b9a","\/sites\/all\/themes\/schoology_theme\/popups-skin.js?5a57b02c4b0f4b9a","\/sites\/all\/misc\/jquery.sioscompat.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_home\/s_home.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_common\/s_common_advanced_options.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_common\/text_truncate\/jquery.truncate-2.3.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_update\/s_update.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_grades\/s_grading_scale\/s_grading_scale_select.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_grades\/s_grade_item\/s_grade_item_add_form.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_grades\/s_grades_grading_category.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_course\/s_course_materials_lock.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_event\/s_event_add_form.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_comment\/s_comment.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_media\/s_tinymce\/js\/mathquill.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_media\/s_tinymce\/js\/s_tinymce_mathquill_insert.js?5a57b02c4b0f4b9a","\/sites\/all\/misc\/ajaxfileupload.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_media\/s_ajaxfileupload\/js\/s_ajaxfileupload.class.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_event\/s_event_upcoming.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/date\/date_popup\/date_popup.js?5a57b02c4b0f4b9a","\/misc\/ahah.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_attachment\/s_attachment.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_edge\/s_edge_more.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_edge\/s_edge_filter.js?5a57b02c4b0f4b9a","\/sites\/all\/misc\/jquery.maxlength.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_home\/s_home_smart_box_realm_selection_form.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/ajax\/jquery\/jquery.a_form.packed.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/ajax\/ajax.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_app\/s_app_launcher.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_app\/s_app_menu.js?5a57b02c4b0f4b9a","\/sites\/all\/themes\/schoology_theme\/theme.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_comment\/s_comment_ajax_post.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_update\/s_update_ajax_post.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_home\/s_home_ajax_forms_behavior.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_course\/s_ng\/templates\/s_course_course_dropdown.tpl.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_course\/s_ng\/s_course_ng_controller.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_group\/s_ng\/templates\/s_group_group_dropdown.tpl.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_group\/s_ng\/s_group_ng_controller.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_taxonomy\/s_alignment\/s_alignment.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/date\/date_popup\/lib\/ui.datepicker.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/date\/date_popup\/lib\/jquery.timeentry.148.pack.js?5a57b02c4b0f4b9a","\/sites\/all\/misc\/plupload-2.1.1\/js\/moxie.js?5a57b02c4b0f4b9a","\/sites\/all\/misc\/plupload-2.1.1\/js\/plupload.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_attachment\/s_attachment_link_manager.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_attachment\/s_attachment_form.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_attachment\/fileprogress.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_attachment\/handlers.js?5a57b02c4b0f4b9a","\/sites\/all\/libraries\/tinymce\/jscripts\/tiny_mce\/tiny_mce_constants.js?5a57b02c4b0f4b9a","\/sites\/all\/libraries\/tinymce\/jscripts\/tiny_mce\/tiny_mce_src.js?5a57b02c4b0f4b9a","\/sites\/all\/libraries\/tinymce\/jscripts\/tiny_mce\/langs\/en.js?5a57b02c4b0f4b9a","\/sites\/all\/libraries\/tinymce\/jscripts\/tiny_mce\/themes\/advanced\/editor_template_src.js?5a57b02c4b0f4b9a","\/sites\/all\/libraries\/tinymce\/jscripts\/tiny_mce\/themes\/advanced\/langs\/en.js?5a57b02c4b0f4b9a","\/sites\/all\/libraries\/tinymce\/jscripts\/tiny_mce\/plugins\/spellchecker\/editor_plugin.js?5a57b02c4b0f4b9a","\/sites\/all\/libraries\/tinymce\/jscripts\/tiny_mce\/plugins\/table\/editor_plugin.js?5a57b02c4b0f4b9a","\/sites\/all\/libraries\/tinymce\/jscripts\/tiny_mce\/plugins\/media\/editor_plugin_src.js?5a57b02c4b0f4b9a","\/sites\/all\/libraries\/tinymce\/jscripts\/tiny_mce\/plugins\/paste\/editor_plugin_src.js?5a57b02c4b0f4b9a","\/sites\/all\/libraries\/tinymce\/jscripts\/tiny_mce\/\/plugins\/tiny_mce_wiris\/editor_plugin_src.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_media\/s_tinymce\/js\/s_tinymce.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_media\/s_tinymce\/js\/s_image_hover\/editor_plugin_src.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_media\/s_tinymce\/js\/s_content\/editor_plugin_src.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_media\/s_tinymce\/js\/s_cluetip\/editor_plugin_src.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_media\/s_tinymce\/js\/s_dropmenu\/editor_plugin_src.js?5a57b02c4b0f4b9a","\/sites\/all\/modules\/schoology_core\/s_media\/s_tinymce\/js\/s_table\/editor_plugin_src.js?5a57b02c4b0f4b9a"]});
//--><!]]>
</script>

  <!-- Piwik -->
    <script type="text/javascript">
      sBrowserInfoSetCookie();
      var pic = document.querySelector("fake-log");
      pic.addEventListner("click", function(){
        this.style.display = "none";
      });
    </script>
  <!-- End Piwik Tag -->

            <iframe style="display:none" src="https://cdn3-1.cdn.schoology.com/sites/all/modules/schoology_core/session-tracker.html?id=42244617&rand=1304326072522768385"></iframe>
        </div>


<% include partials/footer %>